*{
    margin: 0;
    padding: 0;
}

body{

background-color: rgb(231, 231, 231);
color: aliceblue;
}

.cabecalho {
    background-color: #B5C0D0;
}
cabecalho-imagem{
    width: 40px;% ;
}



.lista-item{
  display: inline-block;
  margin: 0 16px;
  font-size: 24px;
}